@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{
	font-family: 'Roboto', sans-serif;
	background-color: #f5f5f5;
}

/*Header Section Styles Start*/
.header-section{
	background-color: #ffffff;
	margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
	font-weight: 600;
	color: #444;
	background-color: transparent;
}

@media (min-width: 768px){
	.navbar-default .navbar-nav > li > a.btn-register{
		background-color: #4caf50;
		padding: 8px 15px;
		border-radius: 5px;
		margin-top: 6px;
		color: #fff;
	}

	.navbar-brand{
		height: auto;
		padding: 10px 15px;
	}

	.header-section .nav.navbar-nav{
		margin-top: 20px;
	}
}

@media (max-width: 767px){
	.header-section .navbar-brand{
		padding: 2px;
	}

	.header-section .navbar-brand > img{
		height: 100%;
	}
}
/*Header Section Styles End*/

/*Slider Section Styles Start*/
#Main-Slider .carousel-caption{
	width: 30%;
	top: 15%;
	bottom: auto;
	padding: 0;
	text-align: left;
}

#Main-Slider .carousel-caption > h2{
	margin: 0;
	font-size: 48px;
	text-shadow: 1px 1px 2px #000;
	font-weight: 400;
}

#Main-Slider .carousel-caption > p{
	font-size: 18px;
	text-shadow: 1px 1px 2px #000;
	margin-bottom: 20px;
}

#Main-Slider .carousel-caption > a{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 20px;
	font-weight: 300;
	padding: 5px 12px;
}

#Main-Slider .carousel-caption > a > i{
	margin-left: 8px;
}

.caption-left{
	 left: 10%;
	 right: auto;
 }

.caption-right{
	left: auto;
	right: 10%;
}

#Main-Slider .carousel-indicators{
	top: 10px;
	bottom: auto;
	left: auto;
	right: 20px;
	text-align: right;
}

@media(max-width:1199px){
	#Main-Slider .carousel-caption > h2{
		font-size: 32px;
	}

	#Main-Slider .carousel-caption > p{
		font-size: 14px;
	}

	#Main-Slider .carousel-caption > a{
		font-size: 14px;
	}
}

@media (max-width:991px){
	#Main-Slider .carousel-caption{
		right: 20%;
		left: 20%;
		width: auto;
		text-align: center;
	}
}
/*Slider Section Styles End*/

/*Registering Section Styles Start*/
.home-register-section{
	background-color: #1565c0;
	padding-top: 60px;
	padding-bottom: 60px;
}

.home-register-section h2{
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	margin-top: 0;
}

.home-register-section h3{
	font-size: 21px;
	font-weight: 400;
	color: #fff;
	margin-top: 0;
	margin-bottom: 30px;
}

.home-register-section .form-control,
.home-register-section .btn{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.home-register-section .form-group-lg .form-control{
	height: 40px;
	font-size: 14px;
	width: 400px;
}

.home-register-section .btn-group-lg > .btn,
.home-register-section .btn-lg{
	font-size: 14px;
	padding: 10px 16px;
}

@media (max-width: 767px){
	.home-register-section .form-group-lg{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.home-register-section .form-group-lg .form-control{
		max-width: 175px;
		height: 34px;
		padding: 5px;
	}

	.home-register-section .btn-group-lg > .btn,
	.home-register-section .btn-lg{
		padding: 7px 8px;
	}
}
/*Registering Section Styles End*/

/*Advertisement Section Styles Start*/
#Advertisement-Slider::before{
	content: "Advertisement";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(255,255,255,0.75);
	text-transform: uppercase;
	padding: 3px 10px;
	font-size: 12px;
	font-weight: 700;
}
/*Advertisement Section Styles End*/

/*Footer Section Styles Start*/
.footer-section{
	background-color: #222222;
	padding-top: 30px;
	padding-bottom: 35px;
}

.power-credits{
	color: #f8f8f8;
	font-size: 12px;
}

.power-credits > img{
	max-width: 80px;
	margin-left: 15px;
}

.copyrights{
	color: #f8f8f8;
	font-size: 12px;
}

.design-credits{
	color: #f8f8f8;
	font-size: 12px;
}

@media (min-width: 768px){
	.power-credits{
		text-align: right;
	}

	.design-credits{
		text-align: left;
	}

	.power-credits > img{
		float: right;
	}
}
/*Footer Section Styles End*/

/*Footer Links Section Styles Start*/
.footer-links-section{
	padding-top: 35px;
	padding-bottom: 40px;
}

.footer-links-section h4{
	text-transform: uppercase;
	margin-bottom: 8px;
}

.footer-links-section ul{
	padding: 0;
	list-style: none;
}

.footer-links-section ul > li{
	list-style: none;
	padding: 1px 0;
}

.footer-links-section ul > li > a{
	color: #444;
}

.footer-contact-details-table{

}

.footer-contact-details-table tr > td{
	vertical-align: top;
	padding-bottom: 8px;
}

.footer-contact-details-table tr > td:first-child{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	padding-right: 20px;
	line-height: 1.8;
}

@media (max-width: 767px){
	.xs-no-bottom-margin{
		margin-bottom: 0;
	}
}
/*Footer Links Section Styles End*/

/*Content Section Styles Start*/
.content-section{
	text-align: center;
	margin-top: -48px;
}

.content-section .nav-tabs{
	display: inline-block;
	position: relative;
	z-index: 1;
}

.content-section .nav-tabs > li > a{
	margin: 0;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	font-size: 21px;
	font-weight: 300;
	padding: 11px 15px;
}

.content-section .nav-tabs > li:nth-child(1) > a{
	background-color: rgba(0,105,92,0.9);
}

.content-section .nav-tabs > li:nth-child(2) > a{
	background-color: rgba(0,121,107,0.9);
}

.content-section .nav-tabs > li:nth-child(3) > a{
	background-color: rgba(0,137,123,0.9);
}

.content-section .nav-tabs > li:nth-child(4) > a{
	background-color: rgba(0,150,136,0.9);
}

.content-section .nav-tabs > li.active > a{
	background-color: #fff;
	color: #00695C;
	font-weight: 400;
	padding: 15px 15px;
	margin-top: -8px;
}

.content-section .nav-tabs > li.active > a,
.content-section .nav-tabs > li.active > a:focus,
.content-section .nav-tabs > li.active > a:hover{
	border: none;
}

.content-section .nav-tabs > li > a > img{
	margin-right: 8px;
	margin-top: -5px;
}

.content-section .nav-tabs > li > a > .icon-Act,
.content-section .nav-tabs > li.active > a > .icon-inAct{
	display: none;
}

.content-section .nav-tabs > li.active > a > .icon-Act,
.content-section .nav-tabs > li > a > .icon-inAct{
	display: inline-block;
}

.suggestion-list{
	padding: 0;
	list-style: none;
	display: inline-block;
}

.suggestion-list > li{
	display: inline-block;
}

.suggestion-list > li > a{
	display: block;
	padding: 0 20px;
	margin-bottom: 30px;
}

.serviceProvider-Image{
	position: relative;
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #444;
}

.serviceProvider-Image.lg-round{
	width: 150px;
	height: 150px;
}

.serviceProvider-Image > img{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.suggestion-list > li p{
	color: #222;
	font-size: 12px;
}

.suggestion-heading{
	color: #004D40;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 400;
}

@media (max-width:767px){
	.content-section .nav-tabs > li > a{
		padding: 6px 8px;
		font-size: 16px;
		font-weight: 400;
		text-align: left;
	}

	.content-section .nav-tabs > li > a > img{
		margin-right: 0px;
		margin-top: -5px;
		max-height: 16px;
	}

	.content-section .nav-tabs > li.active > a{
		padding: 6px 8px;
		margin-top: 0;
		text-align: left;
	}

	.content-section .nav-tabs > li{
		width: 50%;
	}

	.content-section{
		margin-top: 0;
	}
}
/*Content Section Styles End*/

/*Search Panel Section Styles Start*/
.navbar-search{
	background-color: #fff;
	margin-top: -8px;
	margin-bottom: 0;
}

.navbar-search label{
	display: block;
	text-align: left;
	font-size: 12px;
	font-weight: 500;
}

.navbar-search label > i{
	margin-right: 5px;
}

.navbar-search .search-label{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 22px;
}

.navbar-search .navbar-form .form-group{
	margin-right: 15px;
}


.navbar-search .navbar-form .form-group .form-control{
	border-color: transparent;
	box-shadow: none;
	background-color: #E8E8E8;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-search .navbar-form .form-group .btn{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-search .navbar-form .form-group .btn > i{
	margin-left: 20px;
}

.navbar-search .navbar-form{
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 991px) and (min-width: 768px){
	.navbar-search .navbar-form .form-group .btn > i{
		margin-left: 0;
	}

	.navbar-search .navbar-form .form-group .form-control{
		max-width: 130px;
	}
}

@media (max-width: 767px){
	.navbar-search .navbar-form{
		margin-top: 8px;
		margin-bottom: 8px;
	}
}
/*Search Panel Section Styles End*/

/*Search Results Section Styles Start*/
.search-result-conditions{
	font-weight: 400;
	margin-top: 12px;
}

.search-result-item{
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 5px #999;
	-moz-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
	padding: 8px 10px;
	border: 1px solid #aaa;
	margin-bottom: 15px;
	position: relative;
}

.serviceProvider-Details > p{
	color: #222222;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 1px;
	line-height: 1;
}

.serviceProvider-Details > span{
	font-size: 12px;
	color: #444444;
}

.btn-availability{
	background-color: #009688;
	border-color: #00796B;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 14px;
}

.btn-availability:hover{
	background-color: #00897B;
	border-color: #00796B;
}

.btn-availability.active.focus,
.btn-availability.active:focus,
.btn-availability.active:hover,
.btn-availability.focus:active,
.btn-availability:active:focus,
.btn-availability:active:hover,
.open > .dropdown-toggle.btn-availability.focus,
.open > .dropdown-toggle.btn-availability:focus,
.open > .dropdown-toggle.btn-availability:hover,
.btn-availability.active,
.btn-availability:active,
.open > .dropdown-toggle.btn-availability,
.btn-availability.focus,
.btn-availability:focus{
	background-color: #00796B;
	border-color: #00796B;
}

.search-result-heading-wrap{
	background-color: #D0D0D0;
	margin-bottom: 15px;
}

.search-result-heading{
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1;
}

.search-result-group{
	margin-bottom: 12px;
}

@media (min-width: 768px){
	.serviceProvider-Details{
		float: left;
		margin-top: 12px;
	}

	.btn-availability{
		float: right;
		margin-top: 12px;
	}

	.search-result-item{
		max-height: 78px;
	}
}

@media (min-width: 1200px) {
	.serviceProvider-Details > p,
	.serviceProvider-Details > span{
		display: block;
		white-space: nowrap;
		width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.serviceProvider-Details > p,
	.serviceProvider-Details > span{
		display: block;
		white-space: nowrap;
		width: 220px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.serviceProvider-Details > p,
	.serviceProvider-Details > span{
		display: block;
		white-space: nowrap;
		width: 430px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
/*Search Results Section Styles End*/

/*Search Result Details Styles Start*/
.availability-details-wrap::before{
	content: "";
	display: block;
	position: fixed;
	background-color: rgba(0,0,0,0.2);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.availability-details-wrap > .panel{
	border-radius: 0;
	border: 1px solid #222;
	box-shadow: 2px 2px 5px #222;
}

.btn-close{
	padding: 0;
	color: #555;
	font-weight: 100;
	border: none;
}

.btn-close:hover,
.btn-close.active.focus,
.btn-close.active:focus,
.btn-close.active:hover,
.btn-close.focus:active,
.btn-close:active:focus,
.btn-close:active:hover,
.open > .dropdown-toggle.btn-close.focus,
.open > .dropdown-toggle.btn-close:focus,
.open > .dropdown-toggle.btn-close:hover,
.btn-close.active,
.btn-close:active,
.open > .dropdown-toggle.btn-close,
.btn-close.focus,
.btn-close:focus{
	background-color: transparent;
	box-shadow: none;
}

.user-details .serviceProvider-Details{
	margin-left: 10px;
	margin-top: 12px;
}

.availability-details-location{
	background-color: #D0D0D0;
	padding: 8px 20px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

.availability-details-location > h4{
	margin: 0;
	font-size: 16px;
	line-height: 1;
	color: #444444;
}

.session-details-table{
	width: 100%;
}

.session-details-table > thead > tr > th{
	font-size: 12px;
	color: #666666;
	font-weight: 500;
	text-align: center;
	padding: 0 20px;
}

.session-details-table > thead > tr > th:first-child{
	text-align: left;
}

.session-details-table > tbody > tr:nth-child(2n+1){
	background-color: #F5F5F5;
}

.session-details-table > tbody > tr:last-child{
	border-bottom: 1px solid #ccc;
}

.session-details-table > tbody > tr > td{
	padding: 6px 20px;
}

.session-details-table > tbody > tr > td:first-child{
	text-align: left;
}

.session-details-table > tbody > tr > td:last-child{
	text-align: right;
}

.session-details-table .day{
	font-size: 16px;
	font-weight: 300;
	color: #333333;
}

.session-details-table .date{
	font-size: 12px;
	font-weight: 900;
	color: #333333;
}

.session-details-table .time{
	font-size: 12px;
	font-weight: 900;
	color: #326AA1;
	display: block;
}

.reservation-number{
	font-size: 18px;
	color: #222222;
	font-weight: 400;
}

@media (min-width: 992px){
	.search-result-item-row > .col-md-6:nth-child(odd) .availability-details-wrap{
		width: 100%;
		position: absolute;
		z-index: 999;
		left: calc(100% + 12px);
		top: 0;
	}

	.search-result-item-row > .col-md-6:nth-child(odd) .availability-details-wrap .triangle{
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-top: 1px solid #222;
		border-left: 1px solid #222;
		position: absolute;
		z-index: 999;
		bottom: 100%;
		-webkit-transform: translateX(-10px) translateY(48px) rotate(-45deg);
		-moz-transform: translateX(-10px) translateY(48px) rotate(-45deg);
		transform: translateX(-10px) translateY(48px) rotate(-45deg);
	}

	.search-result-item-row > .col-md-6:nth-child(even) .availability-details-wrap{
		width: 100%;
		position: absolute;
		z-index: 999;
		right: calc(100% + 12px);
		top: 0;
	}

	.search-result-item-row > .col-md-6:nth-child(even) .availability-details-wrap .triangle{
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-top: 1px solid #222;
		border-left: 1px solid #222;
		position: absolute;
		z-index: 999;
		bottom: 100%;
		-webkit-transform: translateX(10px) translateY(48px) rotate(135deg);
		-moz-transform: translateX(10px) translateY(48px) rotate(135deg);
		transform: translateX(10px) translateY(48px) rotate(135deg);
		right: 0;
	}
}

@media (max-width: 991px){
	.availability-details-wrap{
		width: 100%;
		position: absolute;
		z-index: 999;
		left: 0;
		top: calc(100% + 12px);
	}

	.triangle{
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-top: 1px solid #222;
		border-left: 1px solid #222;
		position: absolute;
		z-index: 999;
		bottom: 100%;
		-webkit-transform: translateX(28px) translateY(10px) rotate(45deg);
		-moz-transform: translateX(28px) translateY(10px) rotate(45deg);
		transform: translateX(28px) translateY(10px) rotate(45deg);
	}
}

@media (min-width: 768px) {
	.session-details-table > tbody > tr > td:first-child{
		white-space: nowrap;
	}

	.session-details-table-wrap{
		max-height: 200px;
		overflow-y: scroll;
	}
}

@media (max-width:767px){
	.session-details-table > thead > tr > th{
		padding: 0 5px;
	}

	.session-details-table > tbody > tr > td{
		padding: 6px 5px;
	}

	.user-details .serviceProvider-Details{
		margin-left: 0;
	}

	.availability-details-location{
		padding: 8px 15px;
	}

	.session-details-table .date{
		display: block;
	}
}
/*Search Result Details Styles End*/

/*Reservation Details Styles Start*/
.checkout-panel{
	margin-top: 20px;
}

.reservation-details .serviceProvider-Details{
	float: none;
	margin: 0;
}

.checkout-panel .suggestion-heading{
	margin-top: 30px;
	margin-bottom: 15px;
}

.checkout-panel .suggestion-heading-top{
	margin-top: 10px;
}

.checkout-panel .session-details-table > tbody > tr > td:last-child{
	text-align: center;
}

.checkout-panel .serviceProvider-Details > p{
	font-size: 18px;
	color: #00695C;
}

.checkout-panel .availability-details-location{
	margin-top: 3px;
	margin-bottom: 10px;
	padding: 6px 20px;
}

.checkout-panel .availability-details-location > h4{
	font-size: 14px;
	line-height: 1.2;
}

.checkout-panel label{
	font-size: 12px;
	font-weight: normal;
	color: #656d78;
}

.reservation-cart-total{
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 400;
}

.reservation-cart-total > strong{
	color: #1565c0;
}

.required::after{
	content: "*";
	color: #f00;
}

.terms-check{
	margin-top: 2px;
}

@media (max-width: 767px){
	.reservation-details .serviceProvider-Details{
		margin-top: 12px;
		margin-left: 5px;
	}

	.checkout-panel .serviceProvider-Details > p{
		font-size: 13px;
		font-weight: 500;
	}

	.serviceProvider-Details > span{
		font-size: 11px;
	}

	.checkout-panel .serviceProvider-Image{
		margin-left: 2px;
	}

	.reservation-details .serviceProvider-Details{
		margin-left: 2px;
	}
}
/*Reservation Details Styles End*/

/*Sidebar Styles Start*/
.panel-sidebar{
	background-size: cover;
	background-position: center;
}

.panel-sidebar .carousel-caption{
	position: static;
	background-color: rgba(0,0,0,0.25);
}
/*Sidebar Styles End*/

/*Payment Confirmation Section Styles Start*/
.payment-message{
	padding: 10px;
	margin-top: 0;
	margin-bottom: 15px;
}

.payment-message.text-success{
	background-color: #4caf50;
}

.payment-message.text-danger{
	background-color: #e53935;
}

.payment-message > span{
	display: block;
	border: 1px dashed #fff;
	padding: 15px 35px;
	margin: 0;
	color: #fff;
	font-weight: 300;
	font-size: 18px;
}

.confirmation-heading{
	font-size: 18px;
	text-transform: uppercase;
	color: #444;
}

.confirmation-detail-table{
	width: 100%;
}

.confirmation-detail-table td{
	border: 1px solid #ccc;
	padding: 5px 15px;
}

.confirmation-detail-table td:first-child{
	width: 150px;
	font-weight: 600;
}
/*Payment Confirmation Section Styles End*/

/*Padding Fixes Start*/
.no-padding-xs{
	padding-left: 0;
	padding-right: 0;
}
/*Padding Fixes End*/